.chat-main
  .chat-main__header
    .main-header__left-box
      .main-header__left-box__current-group
        k
      %ul.main-header__left-box__member-list 
        member:
        %li.main-header__left-box__member-list__member
          masa
    .main-header__edit-btn 
      = link_to "Edit","#"
  .chat-main__message
  .chat-main__form
